[submodule "scripts"]
	path = scripts
	url = https://github.com/ByteCraftServices/ddpc.scripts.git
[submodule "res"]
	path = res
	url = https://github.com/ByteCraftServices/ddpc.res.git
[submodule "assistant"]
	path = assistant
	url = https://github.com/ByteCraftServices/ddpc.assistant.git
